@model ucp1_129.Models.Obat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Obat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaObat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaObat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Harga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Harga)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdObat">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
